*{
    margin: 0;
    font-family: sans-serif;
    padding: 0;
    box-sizing: border-box;
}

.navigation{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100vh;
    background: #111 ;
    transition: 0.1s;
    display:flex;
    visibility: hidden;
    opacity: 0;
}
.navigation.active{
    visibility: visible;
    opacity: 1;
}

.navigation .navArea{
    position: relative;
    width: 45%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.navigation .navArea ul li::before{
content: '';
position: absolute;
top: 0; 
left: 0;
width: 100%;
height: 100%;
background-color: blue;
z-index: -1;
opacity: 0;
transition: 0.5s;
}
.navigation .navArea ul li:nth-child(1)::before
{
 background: blue;
}
.navigation .navArea ul li:nth-child(2)::before
{
 background:rgb(245, 0, 0);
}
.navigation .navArea ul li:nth-child(3)::before
{
 background: green;
}
.navigation .navArea ul li:nth-child(4)::before
{
 background: rgb(243, 159, 32);
}
.navigation .navArea ul li:nth-child(5)::before
{
 background: pink;
}
.navigation .navArea ul li:nth-child(6)::before
{
 background: rgb(24, 140, 207);
}
.navigation .navArea ul li:hover::before{
    opacity: 1;
}
.navigation .navArea ul li{
    list-style: none;

}
.navigation .navArea ul li .link {
    font-size: 3em;
    font-weight: 600 ;
    text-decoration: none;
    color:white;

}
.navigation .navArea ul li:hover .link {
    color:black;
}
.imgArea{
    position: relative;
    width: 55%;
    height: 100vh;
    background:whitesmoke;
}
.imgArea img{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.menuToggle{    
    position:fixed!important;
    width: 100%;
    height: 100px;
    background: black url(../../images/ColorFul26.png);
    z-index: 100;
    background-size: 100px;
    background-repeat: no-repeat;
    background-position:center;
    cursor: pointer;
}
.menuToggle.active{
    position:absolute;
    background: transparent url(../../images/cancel.png);
    z-index: 1000;
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.1;
}
.menuToggle.active:hover{
    opacity: 1;
}
.prueba{
    padding-top: 100px;
    background-color: khaki;
    height: 100vh;
}
.prueba2{
    background-color:lightblue;
    height: 100vh;
}
@media (max-width:768px)
{
    
        
}
